# AM10IM - Introduction to Matlab

## Lecture 3 - Logical Expressions and Array Manipulation

Table of Contents
-  [3.1 Summary](#Summary)
-  [3.2 Logical Expressions and Booleans](#Boo)
-  [3.3 Array Manipulation](#Array)
    -  [3.3.1 Extracting Elements](#Extract)
    -  [3.3.2 Logical Indexing](#Logic)

<a id='Summary'></a>

### 3.1 Summary

So far we have discussed usage of the command line, introduced scripts, thought about if statements and used arrays. This lecture we are going to look more into the logical expressions that go into if statements and also see that we have a huge amount of control over arrays.

<a id='Boo'></a>

### 3.2 Logical Expressions and Booleans

We started looking into __logical expressions__ when we introduced if statements, but they are worth thinking about them in their own right. Logical expressions can take on only two values: TRUE (1) or FALSE (0). The variables that are assigned to logical expressions are called __Booleans__. In the example below '5>3' is a logical expression and 'b1' is the boolean.

In [9]:
b1 = (5>3) % b1 is 1 as this expression is true
b2 = (3>5) % b2 is 0 as this expression is false.
b3 = (5==3) % b3 is 0 as this expression is false.
b4 = (5 != 3) % b4 is 1 as this expression is true (5 is not equal to 3)

b1 =  1
b2 = 0
b3 = 0
b4 =  1

If we need two statements to be true than we use the AND (&& or &) operator, if we need one of the two statements to be true we can use the OR ( || or |) operator. __Every__ if statement uses these logical operators and expresssions:

In [ ]:
if (logical expression) 
    % Code      This code is performed if the above logical expression is true.
elseif (logical expression)     
    % Code      This code is performed if the directly above logical expression is true.
end

It is better if the logical expressions happen exclusively (but it's not necessary, it depends on your code):

In [2]:
x=5;
if (x>3)
    fprintf('%.1f is greater than 3 \n',x)
elseif (x>2)
    fprintf('%.1f is greater than 2 \n',x)
end

5.0 is greater than 3

Why has the above code only printed '5 is greater than 3' and not also '5 is greater than 2'? Will it ever print 'x is greater than 2'?

<a id='Array'></a>

### 3.3 Array Manipulation

<a id='Extract'></a>

#### 3.3.1 Extracting Elements

We have also learnt that arrays are easily manipulated in Matlab. We see that we can multiply arrays together through matrix multiplication or element multiplication:

In [30]:
A = [0 2 0; 2 0 2; 0 2 0];
B = A*A
C = A.*A

B =

   4   0   4
   0   8   0
   4   0   4

C =

   0   4   0
   4   0   4
   0   4   0

We can extract elements from data. If I wanted the element from the 1st row and third column:

In [33]:
D = [1 2 3; 4 5 6; 7 8 9]
D(1,3)

D =

   1   2   3
   4   5   6
   7   8   9

ans =  3

We can extract whole rows or columns:

In [37]:
v1 = D(:,3) % v1 is a column vector that is equal to the third column of D
v2 = D(2,:) % v2 is a row vector that is equal to the second row of D

v1 =

   3
   6
   9

v2 =

   4   5   6

And we can extract smaller arrays:

In [40]:
v3 = D(:,1:2) % v3 is an array that holds the first two columns of D
v4 = D(2:3,1:2) % v4 is an array that holds the second and third row of the first and second column of D

v3 =

   1   2
   4   5
   7   8

v4 =

   4   5
   7   8

Hopefully you are noticing a logic to the notation:

In [ ]:
Array(rows, columns)
: % means all (either rows or columns)
num1:num2 % means rows or columns between num1 and num2 (inclusive)

We can also put arrays together:

In [48]:
F = [A B;C D] % But remember the dimensions must match: F = [A B; C] is meaningless, either [A;C] or [A B] works

F =

   0   2   0   4   0   4
   2   0   2   0   8   0
   0   2   0   4   0   4
   0   4   0   1   2   3
   4   0   4   4   5   6
   0   4   0   7   8   9

<a id='Logic'></a>

#### 3.3.2 Logical Indexing

We can combine these two ideas: logical expressions and array manipulation with logical indexing. Suppose we wish to find all the elements in an array that obey a logical expression. This is best illustrated with an example.

Consider a set of results from twenty students in a first year mathematics course:

In [4]:
%[AM10IM AM10FC AM10TM AM10MT AM10VA AM10AS Mean Mark]
R =[72   62   63   75   84   69   71
   32   44   56   40   42   38   42
   45   41   48   51   43   38   44
   32   35   32   45   33   40   36
   52   46   49   52   54   46   50
   61   56   49   56   55   45   54
   55   52   54   55   50   51   53
   60   71   78   74   70   64   69
   80   76   79   79   74   74   77
   51   49   57   58   33   56   51
   45   46   45   45   45   46   45];

Where each row corresponds to a student's result in the above courses.

We can ask where students have acheived firsts, 2:1s, seconds, passes and fails in their courses:

In [11]:
R1b = R(:,1:6) >= 70;
R21b = (R(:,1:6) >= 60) & (R(:,1:6) < 70); %where students have acheived 2:1
R22b = (R(:,1:6) >= 50) & (R(:,1:6) < 60);% 2:2
R3b =  (R(:,1:6) >= 40) & (R(:,1:6) < 50); %Pass
RFb = (R(:,1:6)<40); % Fail

We can also view only those who have acheived a first for their overall mark:

In [22]:
R1 = R(R(:,7)>=70,:)

R1 =

   72   62   63   75   84   69   71
   80   76   79   79   74   74   77

Unpacking this code:

In [24]:
R(:,7)>=70

ans =

   1
   0
   0
   0
   0
   0
   0
   0
   1
   0
   0

This says look through all of the final column (the averages) and find where the numbers are greater or equal to 70. It is labelling all the rows that correspond to an overall mark greater than or equal to 70.

In [36]:
R1 = R(R(:,7)>=70,:)
%R22 = R(b,:)
%R22(R22<40);
%R22b = R22<40

R1 =

   72   62   63   75   84   69   71
   80   76   79   79   74   74   77

Here we have the normal notation of R(row,column) like before but with the logical expression in the row part it is telling matlab to pick out the rows where R(:,7)>70 is true (the first and the ninth row). The second part is just a colon and so is telling matlab the R1 should contain all the columns of these 70+ students. How would you change this for selecting those in the different grade boundaries?

Can you work out what the following code is showing?

In [37]:
b1 = R(:,7)<60 & R(:,7)>=50;
R22 = R(b,:);
b2 = R22(:,1)<40 | R22(:,2)<40 | R22(:,3)<40 | R22(:,4)<40 | R22(:,5)<40 | R22(:,6)<40;
R22F = R22(b2,:)

R22F =

   51   49   57   58   33   56   51